{
  "*.{js,ts}": ["npm run lint:fix"],
  "!*.{js,ts}": ["prettier --check --write --ignore-unknown"],
  "*.{md,mdx}": ["markdownlint"],
  "{LICENSE,README.md,TODO.md,src/**/*.ts}": ["cspell --gitignore"],
  "package.json": ["npmPkgJsonLint"]
}
